<script>
$(function(){
    var params=0;
    $("#pagerForm2 select[name='keywords']").change(function(){
       params=$(this).children('option:selected').val();
    });
   
    $("#a2").click(function(){
   	params=$("#pagerForm2 select[name='keywords']").val();
     document.location = "/galaxycrm//activity/download/downloadexcelto?keywords=" + params;
   });
   
 
});
</script>

<form id="pagerForm" method="post" action="">
    <input type="hidden" name="region" value="$!{region}" />
    <input type="hidden" name="prize" value="$!{prize}" />
	<input type="hidden" name="pageNum" value="${page.pageNum}" />
	<input type="hidden" name="numPerPage" value="${page.numPerPage}" /> 
	<input type="hidden" name="orderField" value="${page.orderField}" />
	<input type="hidden" name="orderDirection" value="${page.orderDirection}" />
	<input type="hidden" name="keywords" value="$!{keywords}"/>
</form>
<form id="pagerForm2" method="post" action="${basePath}/activity/download/downloadexcelbak" onsubmit="return navTabSearch(this)">
	<div class="pageHeader">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>活动名称：</label>
					<select name="keywords">
						<option value="">请选择活动名称</option>
						#foreach($item in $!{activityIntroductionDatas})
						<option  value="$!{item.code}" #if($item.code == $status) selected #end >$!item.name</option>
						#end
					</select>
				</li>
				
			</ul>
			<div class="subBar">
				 <ul>						
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">导出</button></div></div></li>
				 </ul>
			</div>
		</div>
	</div>
</form>

<div class="pageContent">

	<div class="panelBar">
		<ul class="toolBar">
			#if($shiro.hasPermission("ActivityIntroduction:save"))
				<li><a class="add" id="a2" rel="lookup2organization" mask="true" width="530" height="380" ><span>导出</span></a></li>
			#end
		</ul>
	</div>
	
	<table class="table" layoutH="138" width="100%">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
		                下载导出的文件： <a href="http://125.210.135.171:88/galaxycrm/activity/download/downloadExcel?filename=$!{excelname}">$!{excelname}</a><br/>
		</tbody>
	</table>
	
	<!-- 分页 -->
	#parse("/management/_frag/pager/panelBar.vm")
</div>