<style>.pageFormContent > dl{ width:100%;}
.pageFormContent > dl ll{padding-left: 5px;}
.pageFormContent > dl span{padding-right: 20px;}
.pageFormContent > dl span .textInput{ float:none;}
</style>
<h2 class="contentTitle">$!{item.name}[$!{item.assetId}](#if($!item.clpsStatus=="1")上线#else下线#end)</h2>
<form method="post" action="${basePath}/management/cinema/films/editSave" class="required-validate pageForm" onsubmit="return validateCallback(this, dialogAjaxDone);">
	<input type="hidden" name="id" value="${item.id}"/>
	<div class="pageFormContent" layoutH="97" >
		<dl>
			<ll>资产类型：</ll>
			<span>#if($!item.assetType == '13') 预告 #elseif($!item.assetType == '36') 电影 #end</span>
			<ll>年份：</ll>
			<span>$!item.year</span>
			<ll>高清：</ll>
			<span>#if($!item.ishd == '1') 是 #else 否 #end</span>
		</dl>
		<dl> 
			<ll>导演：</ll>
			<span>$!item.directors</span>
			<ll>演员：</ll>
			<span>$!item.actors</span>
		</dl>
		<dl> 
			<ll>看点：</ll>
			<span>$!item.viewpoint</span>
		</dl>
		<dl> 
			<ll>简介：</ll>
			<span>$!item.des</span>
		</dl>
		<dl> 
			<ll>星级：</ll>
			<span>$!item.starlevel<!--<select style="float:none;" name="starlevel">
				#foreach($index in [0,1,2,3,4,5])
					<option value="$index" #if($!item.starlevel == $index) selected #end >$index</option>
				#end
			</select>--></span>
			<ll>类型：</ll>
			<span>$!{item.leixing}</span>
		</dl>
		<dl>
			<ll>图片：</ll>
			<span>
			#if($!{item.haibaoUrl} && $!{item.haibaoUrl} != '')
				<a href="$!{item.haibaoUrl}" target="blank" >海报</a>
			#else
				海报(无)	
			#end
			</span>
			
			<span>
			#if($!{item.juzhaoUrl} && $!{item.juzhaoUrl} != '')
				<a href="$!{item.juzhaoUrl}" target="blank" >剧照</a>
			#else
				剧照(无)	
			#end
			</span>
			<span>
			#if($!{item.beijingUrl} && $!{item.beijingUrl} != '')
				<a href="$!{item.beijingUrl}" target="blank" >背景图</a>
			#else
				背景图(无)	
			#end
			</span>
			#if($item.folderCode == "mov_hot_69_5")
				<span>
				#if($!{item.biaotiUrl} && $!{item.biaotiUrl} != '')
					<a href="$!{item.biaotiUrl}" target="blank" >片名图(标题图)</a>
				#else
					片名图(标题图)(无)	
				#end
				</span>
				<span>
				#if($!{item.caotuUrl} && $!{item.caotuUrl} != '')
					<a href="$!{item.caotuUrl}" target="blank" >简介图(草图)</a>
				#else
					简介图(草图)(无)	
				#end
				</span>
			#end
		</dl>
		<dl>
			<ll>别名：</ll>
			<span><input type="text" name="aliasName" value="$!{item.aliasName}" size="40" maxlength="128"/></span>
		</dl>
		<dl>
			<ll>定价(分):</ll>
			<span><input type="text" name="aliasPrice" title="$!{item.aliasPrice}" size="4" maxlength="4" value="$!{item.aliasPrice}"/></span>
			<ll>相关预告片:</ll>
			<span><input lookupField="linkFilmIds.id" type="text" name="linkFilmIds" title="$!{item.linkFilmIds}" value="$!{item.linkFilmIds}"/>
				<a title="选择" lookupgroup="linkFilmIds" href="${basePath}/management/cinema/films/trailer" width="650" height="500"> … </a></span>
		</dl>
		<dl>			
			<ll>优先级：</ll>
			<span><input type="text" name="priority" title="$!{item.priority}" size="4" maxlength="4" value="$!{item.priority}"/></span>
			<ll>状态:</ll>
			<span><select name="status" style="float:none;">
				#foreach($status in $filmStatusList)
				<option value="$!status.code" #if($status.code == $item.status) selected #end >$!status.name</option>
				#end
			</select></span>
		</dl>	
	</div>
			
	<div class="formBar">
		<ul>
			#if($item.folderCode == 'mov_hot_69_5_1' || $loginName=='admin')<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>#end
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
		</ul>
	</div>
</form>