##搜索
#set ($searchAction=${basePath}+'/management/chanel/deleteitemteam/'+${teamid})
##添加
##set ($saveAction=${basePath}+'/management/cinema/films/filmSection/'+${secId}+'/save?filmId={slt_id}')
##set ($saveAction=${basePath}+'/management/chanel/insertitemteam/'+${teamid}+'/save/{item_id}')
#set ($saveAction=${basePath}+'/management/chanel/removeitemteam/'+${teamid})
<form id="pagerForm" method="post" action="$searchAction">
	<input type="hidden" name="pageNum" value="${page.pageNum}" />
	<input type="hidden" name="numPerPage" value="${page.numPerPage}" /> 
	 
	<input type="hidden" name="keywords" value="$!{keywords}"/>
	<input type="hidden" name="isFirst" value="false"/>
	<input type="hidden" name="teamid" value=${teamid}/>
</form>

<form method="post" action="$searchAction" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="pageHeader">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>名称：</label>
					<input type="text" name="keywords" value="$!{keywords}"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>						
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div></li>
					<!--<li><a target="ajaxTodo" href="$saveAction" class="buttonActive" callback="dialogAjaxDone"><span>确定</span></a></li>-->
					<li><a target="selectedTodo" rel="itemid" targetType="dialog" href="$saveAction" class="buttonActive" callback="dialogAjaxDone"><span>确定</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</form>

<div class="pageContent">
	<table class="table" layoutH="138"  width="100%">
		<thead>
			<tr>
				<th width="40"><label><input type="checkbox" class="checkboxCtrl" group="itemid" />全选</label></th>
				<th width="40">ID</th>
				##<th width="180">频道号</th>
				<th width="180">频道名称</th>
				<th width="100">终端频道号</th>
				##<th width="100">区域号</th>
				##<th width="60">回放标志</th>
				##<th width="180">直播标志</th>
				##<th width="100">高清标志</th>
				<th width="100">频道类型</th>
				##<th width="180">直播播放地址</th>
				##<th width="100">频道台标URL</th>
				##<th width="100">频道描述</th>
				##<th width="120">高清频道号</th>
				##<th width="120">频点</th>
				##<th width="120">调制方式</th>
				##<th width="120">符号率</th>
				##<th width="120">业务号</th>
				##<th width="120">CA厂商号</th>
				##<th width="120">授权号</th>
				##<th width="120">创建时间</th>
			</tr>
		</thead>
		<tbody>
			#foreach($item in ${itemDatas})
			<tr target="item_id" rel="${item.id}">
				<td><input type="checkbox" name="itemid" value="${item.id}"></td>
				<td>$!{item.id}</td>
				##<td>$!{item.chId}</td>
				<td>$!{item.chName}</td>
				<td>$!{item.chNo}</td>
				##<td>$!{item.regionId}</td>
				##<td>$!{item.isPlayback}</td>
				##<td>$!{item.isBoardcast}</td>
				##<td>$!{item.ishdch}</td>
				<td>$!{item.type}</td>
				##<td>$!{item.playurl}</td>
				##<td>$!{item.chlogourl}</td>
				##<td>$!{item.desc}</td>
				##<td>$!{item.hdchid}</td>
				##<td>$!{item.freq}</td>
				##<td>$!{item.mod}</td>
				##<td>$!{item.rate}</td>
				##<td>$!{item.sid}</td>
				##<td>$!{item.casid}</td>
				##<td>$!{item.capid}</td>
				##<td>$dateUtil.format(${item.gmtCreate},"yyyy-MM-dd HH:mm:ss")</td>
			</tr>
			#end
		</tbody>
	</table>
	<!-- 分页 -->
	#parse("/management/_frag/pager/panelBar_dialog.vm")
</div>
<script type="text/javascript">
function dbltable(target,rel){
	if(target == 'item_id'){
		var url="$saveAction2";
		url = url + rel;
		var options = { max:false, mask:true, width: 600, height: 500,maxable:true,minable:true,fresh:true,resizable:true,drawable:true};
		$.pdialog.open(url,"lookup2organization", "编辑", options);
	} 
}
</script>