<h2 class="contentTitle">编辑频道分组信息</h2>
<form method="post" action="${basePath}/management/chanel/updateteam" class="required-validate pageForm" onsubmit="return validateCallback(this, dialogAjaxDone);">
	<div class="pageFormContent" layoutH="97">
		<dl>
			##<dt>ID：</dt>
			<dd>
				<input type="hidden" name="id" class="required" value="$!{team.id}"/>
			</dd>
		</dl>
		<dl>
			<dt>分组名称：</dt>
			<dd>
				<input type="text" name="bName" class="required" value="$!{team.bName}"/>  
			</dd>
		</dl>
		<dl>
			<dt>分组优先级：</dt>
			<dd>
				<input type="text" name="sortby"  value="$!{team.sortby}" />  
			</dd>
		</dl>
	</div>
			
	<div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
		</ul>
	</div>
</form>