##搜索请求
#set($action=${basePath}+'/management/chanel/recommend')
##删除
#set($deleteAction=${basePath}+'/management/chanel/redelete/team/'+'{item_id}')
##插入
#set($addAction=${basePath}+'/management/chanel/readditem')
##编辑
#set($editAction=${basePath}+'/management/chanel/reeditteam/'+'{item_id}')

<form id="pagerForm" method="post" action="$action">
	<input type="hidden" name="pageNum" value="${page.pageNum}" />
	<input type="hidden" name="numPerPage" value="${page.numPerPage}" /> 
	<input type="hidden" name="orderField" value="${page.orderField}" />
	<input type="hidden" name="orderDirection" value="${page.orderDirection}" />
	 
	<input type="hidden" name="keywords" value="$!{keywords}"/>
	<input type="hidden" name="status" value="$!{status}" />
</form>


<div class="pageContent">

		<div class="panelBar">
		<ul class="toolBar">
			#if($shiro.hasPermission("Cinema_films:save"))
				<li><a class="add" target="dialog" rel="lookup2organization" mask="true" width="650" height="500" href="$addAction" ><span>添加</span></a></li>
			#end
			#if($shiro.hasPermission("Cinema_films:edit"))
				<li><a class="edit" target="dialog" rel="lookup2organization" mask="true" width="600" height="500" href="$editAction" ><span>编辑</span></a></li>
			#end
			#if($shiro.hasPermission("Cinema_films:delete"))
				<li><a class="delete" target="ajaxTodo" href="$deleteAction" title="确认要删除?"><span>删除</span></a></li>
			#end
		</ul>
	</div>
	
<table class="table" layoutH="76" width="100%">
		<thead>
			<tr>
				<th width="40"><label><input type="checkbox" class="checkboxCtrl" group="filmIds" />全选</label></th>
				<th width="40">ID</th>
				<th width="100">频道号</th>
				<th width="150">频道名称</th>
				<th width="100">优先级</th>
				<th width="100">直播节目</th>
				<th width="100">回放节目</th>
				<th width="180">点播节目</th>
				<th width="100">上线标志</th>
				<th width="150">频道别名</th>
				<th width="100">区域</th>
			</tr>
		</thead>
		<tbody>
			#foreach($item in ${rteamDatas})
			<tr target="item_id" rel="${item.id}">
				<td><input type="checkbox" name="filmIds" value="${item.id}"></td>
				<td>$!{item.id}</td>
				<td>$!{item.chId}</td>
				<td>$!{item.chName}</td>
				<td>$!{item.chWeight}</td>
				<td>$!{item.chBroadcast}</td>
				<td>$!{item.chPlayback}</td>
				<td>$!{item.chPlay}</td>
				<td>$!{item.chStatus}</td>
				<td>$!{item.chAlias}</td>
				<td>$!{item.regionId}</td>
				##<td>$dateUtil.format(${item.gmtCreate},"yyyy-MM-dd HH:mm:ss")</td>
			</tr>
			#end
		</tbody>
	</table>
	
	<!-- 分页 -->
	#parse("/management/_frag/pager/panelBar.vm")
</div>

<script type="text/javascript">
function dbltable(target,rel){
	if(target == 'film_id'){
		var url="$editAction2";
		url = url + rel;
		var options = { max:false, mask:true, width: 600, height: 500,maxable:true,minable:true,fresh:true,resizable:true,drawable:true};
		$.pdialog.open(url,"lookup2organization", "编辑", options);
	} 
}
</script>
