##分页
#set ($Action=${basePath}+'/management/chanel/group/'+${teamid})
##搜索
#set ($searchAction=${basePath}+'/management/chanel/searchitemteam/'+${teamid})
##添加
#set ($saveAction=${basePath}+'/management/chanel/insertitemteam/'+${teamid})
<form id="pagerForm" method="post" action="$Action">
	<input type="hidden" name="pageNum" value="${page.pageNum}" />
	<input type="hidden" name="numPerPage" value="${page.numPerPage}" /> 
	<input type="hidden" name="orderField" value="${page.orderField}" />
	<input type="hidden" name="orderDirection" value="${page.orderDirection}" />
	<input type="hidden" name="teamid" value="$!{teamid}" />
	<input type="hidden" name="keywords" value="$!{keywords}"/>
	<input type="hidden" name="isFirst" value="false"/>
</form>

<form method="post" action="$Action" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="pageHeader">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>名称：</label>
					<input type="text" name="keywords" value="$!{keywords}"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>					
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
					<li><div class="button"><div class="buttonContent"><button type="button" multLookup="orgId" warn="请选择频道">确定</button></div></div></li>				
				</ul>
			</div>
		</div>
	</div>
</form>

<div class="pageContent">
		<table class="table" LayoutH="106" width="100%" >
		<thead>
			<tr>
				<th width="40"><label><input type="radio" class="checkboxCtrl" group="filmIds" />单选</label></th>
				<th width="40">ID</th>
				##<th width="180">频道号</th>
				<th width="180">频道名称</th>
				##<th width="100">终端频道号</th>
				##<th width="100">区域号</th>
				##<th width="60">回放标志</th>
				##<th width="180">直播标志</th>
				##<th width="100">高清标志</th>
				##<th width="100">频道类型</th>
				##<th width="180">直播播放地址</th>
				##<th width="100">频道台标URL</th>
				##<th width="100">频道描述</th>
				##<th width="120">高清频道号</th>
				##<th width="120">频点</th>
				##<th width="120">调制方式</th>
				##<th width="120">符号率</th>
				##<th width="120">业务号</th>
				##<th width="120">CA厂商号</th>
				##<th width="120">授权号</th>
			</tr>
		</thead>
		<tbody class="sortDrag">
			#foreach($item in ${itemDatas})
			<tr target="film_id" rel="${item.id}"> 
				<td><input type="radio" name="orgId" value="{chId:'${item.chId}',chName:'${item.chName}'}"></td>
				<td>$!{item.id}</td>
				##<td>$!{item.chId}</td>
				<td>$!{item.chName}</td>
				##<td>$!{item.chNo}</td>
				##<td>$!{item.regionId}</td>
				##<td>$!{item.isPlayback}</td>
				##<td>$!{item.isBoardcast}</td>
				##<td>$!{item.ishdch}</td>
				##<td>$!{item.type}</td>
				##<td>$!{item.playurl}</td>
				##<td>$!{item.chlogourl}</td>
				##<td>$!{item.desc}</td>
				##<td>$!{item.hdchid}</td>
				##<td>$!{item.freq}</td>
				##<td>$!{item.mod}</td>
				##<td>$!{item.rate}</td>
				##<td>$!{item.sid}</td>
				##<td>$!{item.casid}</td>
				##<td>$!{item.capid}</td>
			</tr>
			#end
		</tbody>
	</table>
		<!-- 分页 -->
	#parse("/management/_frag/pager/panelBar_dialog.vm")
</div>
<script type="text/javascript">
$(function() { 
        var options = { 
                cursor: 'move', // selector 的鼠标手势 
                sortBoxs: 'tbody.sortDrag', //拖动排序项父容器 
                replace: true, //2个sortBox之间拖动替换 
                items: '> tr', //拖动排序项选择器 
                selector: '', //td:first拖动排序项用于拖动的子元素的选择器，为空时等于item 
                zIndex: 1000 
            }; 
        $('tbody', navTab.getCurrentPanel()).sortDrag(options);
 });  
 </script>