<script>
$(function(){
    var params=0;
    var params1=1;
    var params4=2;
   
    $("#pagerForm2 select[name='mark']").change(function(){
       params=$(this).children('option:selected').val();
    });
    
     $("#pagerForm2 select[name='keywords']").change(function(){
       params1=$(this).children('option:selected').val();
       params4=$(this).children('option:selected').text();
    });
     
    $("#a4").click(function(){
     document.location = "/galaxycrm/activity/fangwenliangtongji/exportActivityLottery2?mark="+params+"&keywords="+params1;
 });

});
</script>

<form id="pagerForm" method="post" action="${basePath}/activity/everyPageAccess/list">
	<input type="hidden" name="pageNum" value="$!{page.pageNum}" />
	<input type="hidden" name="numPerPage" value="$!{page.numPerPage}" /> 
	<input type="hidden" name="orderField" value="$!{page.orderField}" />
	<input type="hidden" name="orderDirection" value="$!{page.orderDirection}" />
	 <input type="hidden" name="mark" value="$!{mark}" />
	 <input type="hidden" name="keywords" value="$!{keywords}"/>
</form>

<form id="pagerForm2" method="post" action="${basePath}/activity/everyPageAccessNew/list" onsubmit="return navTabSearch(this)">
	<div class="pageHeader">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>活动名称：</label>
					<select name="keywords">
						<option value="">请选择活动名称</option>
						#foreach($item in $!{activityIntroductionDatas})
						<option value="$!{item.code}" #if($item.code == $status) selected #end >$!item.name</option>
						#end
					</select>
				</li>
				<li>
					<label>统计查询：</label>
					<select name="mark">
						<option value="">请选择查询条件</option>
						<option value="100" #if($!mark=='100') selected #end >页面访问量统计(pv)</option>
						<option value="101" #if($!mark=='101') selected #end >页面访问量统计(uv)</option>
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>						
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div></li>
				</ul>
			</div>
		</div>
	</div>
</form>

<div class="pageContent">

	<div class="panelBar">
		
	</div>
	
	<table class="table" layoutH="138" width="100%">
		<thead>
			<tr>
				<th width="120">区域</th>
				<th width="120">访问量</th>
				<th width="120">活动名称</th>
				<th width="120">页面名称</th>
			</tr>
		</thead>
		<tbody>
			#foreach($item in ${datas})
			<tr target="slt_id" rel="${item.id}">
				<td>$!{item.region}</td>
				 <td>$!{item.count}</td>
				 <td>$!{item.code}</td>
				 <td>$!{item.pagename}</td>
			</tr>
			#end
		</tbody>
	</table>
	
	<!-- 分页 -->
	#parse("/management/_frag/pager/panelBar.vm")
</div>